html {
  background-image: url("../images/Archery-Range.jpg");
  background-color: #cccccc;
  background-size: 100%;
  background-repeat: no-repeat;
}

header {
  font-family: 'Permanent Marker', arial;
  font-size: 50px;
  text-align: right;
  margin-right: 10px;
}

.sessions-buttons-container {
  position: fixed;
  bottom: 0;
  right: 0;
}

.sessions-buttons-container .oauth-button {
  background-color: #E8F5E9;
  border-radius: 10px;
  position: relative;
  display: inline;
  float: right;
  margin-right: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #616161;
}

a:hover {
  color: #689F38;
}

