<header>Archery Report</header>
<!--if current_user -->
<!-- <p> Welcome, username </p> -->


<div class="sessions-buttons-container">
  <!-- add condition to show Login only if there is no current session -- >

  <button class= "oauth-button"><a href="/oauth">Login</a></button>

  <!-- if signed in, show the signout button -->
  <button class= "oauth-button"><a href="https://instagram. com/accounts/logout/">Logout</a></button>

</div>